<!-- ******Header****** -->
<header class="header text-center">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <span aria-hidden="true" class="icon_documents_alt icon"></span>
                <span class="text-highlight">Doc</span><span class="text-bold">Express</span>
            </h1>
        </div>
        <!--//branding-->
    </div>
    <!--//container-->
</header>
<!--//header-->